@charset "UTF-8";

/********************* header **************************/
.header {
	width: 100%;
	height: 67px;
	background-color: black;
}
/********************* main **************************/
.main {
	width: 65%;
	height: 800px;
	background-color: royalblue;
	margin: 51px auto;
}
/********************* footer **************************/
.footer {
	width: 100%;
	height: 100px;
	background-color: black;
}